<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyGuessNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DFA6A4D1F6263B5004FF4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFA6A5E1F6263B5004FF4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFA6A691F6263B5004FF4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
